@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2a2yhn');
  src:  url('../fonts/icomoon.eot?2a2yhn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2a2yhn') format('truetype'),
    url('../fonts/icomoon.woff?2a2yhn') format('woff'),
    url('../fonts/icomoon.svg?2a2yhn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-high:before {
  content: "\ea26";
}
.icon-mute:before {
  content: "\ea2a";
}
.icon-radio:before {
  content: "\ea56";
  font-weight: bolder;
}